@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@font-face {
  font-family: "AppleSDGothicNeoR";
  src: url("fonts/AppleSDGothicNeoR.ttf");
}

.title {
  text-align: center;
}

body {
  /* background-color: #f0f0f0; */
  background-color: white;
  /* font-family: "Nanum Gothic", sans-serif; */
  font-family: "AppleSDGothicNeoR";
  height: 100%;
  margin: 0;
  padding: 0;
}

.titlebar {
  margin: 0 auto;
  align-items: center;
  color: white;
  top: 0px;
  padding: 80px 0;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 30px;
}

.body {
  /* background-color: antiquewhite; */
  padding: 10px;
  align-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  /* border: 1px solid gray; */
  width: 75vw;
  /* padding: 15px; */
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 20px;
  height: 60vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #3c31dd;
  text-decoration: underline;
}

.content .img {
  border-radius: 20px;
  /* border: 1px solid gray; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 90%;
  height: 60%;
  top: -30px;
  transition: 0.5s;
  cursor: pointer;
  background-size: cover;
  text-align: center;
}

.content:hover .img {
  width: 105%;
  height: 70%;
}

.content:hover {
  transform: scale(110%);
}
.content:hover .preview {
  margin-top: 110px;
}

.content .preview {
  display: flex;
  height: 55%;
  text-align: center;
  padding: 0 15px 15px;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content {
    width: 38vw;
    height: 30vw;
    max-width: 436px;
    max-height: 344px;
  }
}

footer {
  color: black;
  text-align: center;
}

footer a {
  color: black;
}

#home {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  padding-top: 100px;
  background: #3c31dd;
  color: white;
}

section h1 {
  font-size: 40px;
  position: fixed;
}

.curve {
  position: absolute;
  height: 20vw;
  max-height: 200px;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  transform: translate(85%, 60%);
  background-color: white;
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 55%;
  height: 100%;
  background-color: #3c31dd;
  transform: translate(-4%, 40%);
  z-index: -1;
}
