.title {
  text-align: center;
}

body {
  background-color: #f0f0f0;
  font-family: "IBM Plex Sans KR", sans-serif;
}

.titlebar {
  margin: 0 auto;
  align-items: center;
  color: black;
  padding: 80px 0;
  /* background-color: aqua; */
}

.body {
  /* background-color: antiquewhite; */
  padding: 10px;
  align-content: center;
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  border: 1px solid gray;
  width: 75vw;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkcyan;
  text-decoration: underline;
}

img {
  border-radius: 10px;
  border: 1px solid gray;
}

@media (min-width: 768px) {
  .body {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content {
    width: 38vw;
    max-width: 436px;
  }
}
